@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  margin: 0;
  font-family: "PT Sans", system-ui, sans-serif;
  background: #f9fafb;
}

* {
  box-sizing: border-box;
}
